body{
    background: #d2d2c1 url('imgs/fundo.png');
    font: 16px arial, helvetica,sans-serif;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0%;
    left: 20%;
 
}

#principal{
    width: 900px;
   
    
}

#menu{
    background:#c5c5b2;
    padding: 18px;
}

#menu ul{
    display: flex;
    justify-content: center;
}

#menu ul li{
    list-style-type: none;

}

h1{
    color:#828271;
    font-size: 1.2em;
}

p{
    text-align: justify;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

#conteudo{
    background: #e8e8d9;
    padding: 10px;
}

.centralizar{
    text-align: center;
}

#rodape{
    font-size: 12px;
}

.photos{
    border: 10px solid #c3c3ae;
}